<header>
  <div class="header_logo">
    <a href="#">
      <img src="./assets/images/trans_yellow_orange111.png" alt=""
    /></a>
  </div>
  <div class="rightmenu">
    <div class="navlink_container">
      <div class="navlinks" id="nav">
        <ul>
          <li><a href="#about_section"> About </a></li>
          <li><a href="#shop_section"> Shop </a></li>
          <li><a href="#gallery_section"> Gallery </a></li>
          <li><a href="#contact_section"> Contact </a></li>
        </ul>
      </div>
      <div class="cart">
        <a href="#cart_section"><i class="fa fa-shopping-cart"></i> </a
        ><app-cart-icon></app-cart-icon>
      </div>
    </div>
    <div class="menu-icon" onclick="toggleMenu()">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
