<div class="foot_container" id="contact_section">
  <div class="foot_info">
    <div class="logo_footer">
      <img src="./assets/images/trans_yellow_orange111.png" alt="" />
    </div>
    <p class="tagline">Stick with the african vibe</p>
    <div class="icon_footer_container">
      <i class="fa fa-instagram"></i>
      <i class="fa fa-google"></i>
      <i class="fa fa-whatsapp"></i>
    </div>
    <div class="gmail">yostickerss@gmail.com</div>
    <div class="copyright">
      Copyright Yo! stickers 2022. All Right Reserved.
    </div>
  </div>
</div>
