<div class="page_container">
  <div class="page">
    <app-header></app-header>
    <section>
      <div class="name">yo stickers</div>

      <div class="title_container">
        <div class="topright">
          <img src="./assets/images/topright_coverpage.png" alt="" />
        </div>
        <div class="topleft">
          <img src="./assets/images/topleft_coverpage.png" alt="" />
        </div>
        <div class="downright">
          <img src="./assets/images/todownright_coverpage.png" alt="" />
        </div>
        <div class="downleft">
          <img src="./assets/images/tdownleft_coverpage.png" alt="" />
        </div>
        <div class="title">
          The largest curator of <br />
          Authentic African Stickers
        </div>

        <div class="get_started">
          <button><a href="#shop_section">Shop Stickers</a></button>
        </div>
      </div>
      <app-about></app-about>
      <app-shop></app-shop>
      <app-gallery></app-gallery>
      <app-join-us></app-join-us>
      <app-cart></app-cart>

      <app-footer></app-footer>
    </section>
  </div>
</div>
