<app-header></app-header>
<div class="container_checkout">
  <form action="">
    <div class="row">
      <div class="col">
        <h3 class="title">Delivery Details</h3>

        <div class="inputBox">
          <span>Full name :</span>
          <input type="text" />
        </div>

        <div class="inputBox">
          <span>Telephone number :</span>
          <input type="text" />
        </div>
        <div class="inputBox">
          <span>Address :</span>
          <input type="text" />
        </div>
        <div class="inputBox">
          <span>Email :</span>
          <input type="text" />
        </div>

        <div class="flex">
          <!img
                src="./assets/images/Logo-TRANSB.png"
                alt=""
                style="max-width: 250px; max-height: 200px"
              /-->
        </div>
      </div>

      <div class="col">
        <h3 class="title">Payment</h3>

        <div class="inputBox">
          <span>cards accepted :</span>
          <img src="./assets/images/card_img.png" alt="" />
        </div>
        <div class="inputBox">
          <span>Full name :</span>
          <input type="text" />
        </div>
        <div class="inputBox">
          <span>credit card number :</span>
          <input type="number" placeholder="1234-XXXX-XXXX-XXXX" />
        </div>
        <div class="inputBox">
          <span>exp month :</span>
          <input type="text" />
        </div>

        <div class="flex">
          <div class="inputBox">
            <span>exp year :</span>
            <input type="number" placeholder="2022" />
          </div>
          <div class="inputBox">
            <span>CVV :</span>
            <input type="text" placeholder="123" />
          </div>
        </div>
      </div>
    </div>

    <div class="center">
      <input
        type="button"
        id="show"
        value="proceed to checkout"
        class="submit-btn"
      />

      <div class="container_thankyou">
        <div class="text">Purchase Successful</div>
        <div class="thankyou_card">
          <div class="thankyou_icon">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="thankyou_message">
            Order information will be sent to your email
          </div>
        </div>

        <label for="show" class="close-btn fa fa-times" title="close"></label>
      </div>

      <div class="yo_container"><div class="yo">yo!stickerss</div></div>
    </div>
  </form>
</div>

<input type="checkbox" id="shows" />
<app-footer></app-footer>
